{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Contact</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link href='{% static "vendor/aos/aos.css" %}' rel="stylesheet">
  <link href='{% static "vendor/bootstrap-icons/bootstrap-icons.css" %}' rel="stylesheet">
  <link href='{% static "vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">
  <link href='{% static "vendor/swiper/swiper-bundle.min.css" %}' rel="stylesheet">
  <link href='{% static "vendor/boxicons/css/boxicons.min.css" %}' rel="stylesheet">

  <link href='{% static "vendor/glightbox/css/glightbox.min.css" %}' rel="stylesheet">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" type="text/css" href='{% static "/css/style.css" %}'>

  <!-- =======================================================
  * Template Name: Serenity - v4.7.0
  * Template URL: https://bootstrapmade.com/serenity-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

   <!-- ======= Header ======= -->
   <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
            <h1 class="text-light"><a href="{% url 'home' %}">Solace</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li class="nav-item active">
                    {% block nav-home %}<a class="nav-link" href="{% url 'home' %}">Home</a>{% endblock %}
                </li>
                <li class="nav-item">
                    {% block nav-memory %}<a class="nav-link" href="{% url 'memories' %}">Memories</a>{% endblock %}
                </li>
                <li class="nav-item">
                    {% block nav-emergency %}<a class="nav-link" href="{% url 'index' %}">Emergency</a>{% endblock%}
                </li>
                <li class="nav-item">
                    {% block nav-aboutme %}<a class="nav-link" href="{% url 'aboutMe' %}">About Patient</a>{% endblock %}
                </li>
                <li class="nav-item">
                    {% block nav-contact %}<a class="nav-link" href="{% url 'contact' %}">Contact us</a>{% endblock %}
                </li>
                <li class="nav-item">
                  {% block nav-todoapp %}<a class="nav-link" href="{% url 'ToDoApp' %}">To do List</a>{% endblock %}
              </li>
                <li class="nav-item">
                  {% block nav-logout %}<a class="nav-link" href="{% url 'contact' %}">Log out{% endblock %}
              </li>
          
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="breadcrumb-hero">
        <div class="container">
          <div class="breadcrumb-hero">
            <h2>Contact</h2>
            <p>Please feel free to contact us,</p>
          </div>
        </div>
      </div>

    </section><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">
        <div class="row mt-5">

          <div class="col-lg-7" data-aos="fade-right">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Pune, Maharashtra India</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>solace@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 55s</p>
              </div>

            </div>

          </div>

          
        

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
        <div class="container">

        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Solace</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
      <!-- Vendor JS Files -->
      <script src='{% static "vendor/purecounter/purecounter.js" %}'></script>
      <script src='{% static "vendor/aos/aos.js" %}'></script>
      <script src='{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>
      <script src='{% static "vendor/glightbox/js/glightbox.min.js" %}'></script>
      <script src='{% static "vendor/swiper/swiper-bundle.min.js" %}'></script>
      <script src='{% static "vendor/waypoints/noframework.waypoints.js" %}'></script>
  
  
  
      <!-- Template Main JS File -->
  
      <script src='{% static "/js/main.js" %}'></script>

</body>

</html>