{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Home page</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href='{% static "img/favicon.png" %}' rel="icon">
    <link href='{% static "img/apple-touch-icon.png" %}' rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href='{% static "vendor/aos/aos.css" %}' rel="stylesheet">
    <link href='{% static "vendor/bootstrap-icons/bootstrap-icons.css" %}' rel="stylesheet">
    <link href='{% static "vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">
    <link href='{% static "vendor/swiper/swiper-bundle.min.css" %}' rel="stylesheet">
    <link href='{% static "vendor/boxicons/css/boxicons.min.css" %}' rel="stylesheet">

    <link href='{% static "vendor/glightbox/css/glightbox.min.css" %}' rel="stylesheet">

    <!-- Template Main CSS File -->
    <link rel="stylesheet" type="text/css" href='{% static "/css/style.css" %}'>
    <!-- =======================================================
  * Template Name: Serenity - v4.7.0
  * Template URL: https://bootstrapmade.com/serenity-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <div class="logo">
                <h1 class="text-light"><a href="{% url 'home' %}">Solace</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li class="nav-item active">
                        {% block nav-home %}<a class="nav-link" href="{% url 'home' %}">Home</a>{% endblock %}
                    </li>
                    <li class="nav-item">
                        {% block nav-memory %}<a class="nav-link" href="{% url 'memories' %}">Memories</a>{% endblock %}
                    </li>
                    <li class="nav-item">
                        {% block nav-emergency %}<a class="nav-link" href="{% url 'index' %}">Emergency</a>{% endblock%}
                    </li>
                    <li class="nav-item">
                        {% block nav-aboutme %}<a class="nav-link" href="{% url 'aboutMe' %}">About Patient</a>{% endblock %}
                    </li>
                    <li class="nav-item">
                        {% block nav-contact %}<a class="nav-link" href="{% url 'contact' %}">Contact us</a>{% endblock %}
                    </li>
                    <li class="nav-item">
                        {% block nav-todoapp %}<a class="nav-link" href="{% url 'ToDoApp' %}">To do List</a>{% endblock %}
                    </li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div class="hero-container" data-aos="fade-up">
            <h1>Welcome to Solace</h1>
            <h2>We aim to assist patients with dementia to reminiscence with an interactive photo gallery and contact their loved ones during emergencies </h2>
            {% block nav-register %}
            <a href="{% url 'register' %}" class="btn-get-started scrollto">Register here</a>
            {% endblock %}
        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container">


                <div class="row">

                    <div class="col-lg-6 video-box align-self-baseline position-relative">
                        <img src='{% static "img/dementia.jpg" %}' class="img-fluid" alt="">
                        
                    </div>

                    <div class="col-lg-6 pt-3 pt-lg-0 content">
                        <h3>Our purpose is to provide our patients a connection with their identity and individuality.</h3>
                        <p class="fst-italic">
                            We provide the following features :
                        </p>
                        <ul>
                            <li><i class="bx bx-check-double"></i>Memory Gallery</li>
                            <li><i class="bx bx-check-double"></i>Emergency Contact Facility</li>
                            <li><i class="bx bx-check-double"></i>Information about themselves</li>
                        </ul>
                        <p>
                            Together, with the aid of love and technology, let's reduce the anxiety and pressure of these patientsone step at a time.
                        </p>
                    </div>

                </div>

            </div>
        </section><!-- End About Section -->


        <!-- ======= Services Section ======= -->
        <section id="services" class="services ">
            <div class="container">

                <div class="section-title pt-5" data-aos="fade-up">
                    <h2>Our Features</h2>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="icon-box" data-aos="fade-up">
                            <div class="icon"><i class="bi bi-briefcase" style="color: #ff689b;"></i></div>
                            <h4 class="title">Memory Gallery</a></h4>
                            <p class="description">This gallery comprises of memories (pictures, corresponding information and descriptions) segregated category-wise. We hope this helps in the memory retention of the patient.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="icon-box" data-aos="fade-up">
                            <div class="icon"><i class="bi bi-book" style="color: #e9bf06;"></i></div>
                            <h4 class="title"><a href="">Emergency Contact Facility</a></h4>
                            <p class="description">This module enables the user to send messages to all his/her’s emergency contacts and also specify his/her’s location.</p>
                        </div>
                    </div>

                    <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-card-checklist" style="color: #3fcdc7;"></i></div>
                            <h4 class="title"><a href="">About Me</a></h4>
                            <p class="description">This module is intended for reminding the patients of their individuality and identity. We wish that they’ll remember their loved ones and their old selves.</p>
                        </div>
                    </div>


                </div>

            </div>
        </section><!-- End Services Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">

            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Solace</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src='{% static "vendor/purecounter/purecounter.js" %}'></script>
    <script src='{% static "vendor/aos/aos.js" %}'></script>
    <script src='{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>
    <script src='{% static "vendor/glightbox/js/glightbox.min.js" %}'></script>
    <script src='{% static "vendor/swiper/swiper-bundle.min.js" %}'></script>
    <script src='{% static "vendor/waypoints/noframework.waypoints.js" %}'></script>



    <!-- Template Main JS File -->

    <script src='{% static "/js/main.js" %}'></script>

</body>

</html>